<div class="accordion accordion-container" id="accordionContainer">
  <div class="accordion-item" *ngFor="let menu of menuProperties; let i = index">
    <h2 class="accordion-header" [id]="'heading' + i">
      <button class="accordion-button"
              type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse' + i"
              aria-expanded="true" [attr.aria-controls]="'collapse' + i">
        <i class="{{ menu.icon }}"></i>&nbsp;
        {{ menu.titre }}
      </button>
    </h2>
    <div [id]="'collapse' + i" class="accordion-collapse collapse" [attr.aria-labelledby]="'heading' + i"
         data-bs-parent="#accordionContainer">
      <div class="card">
          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let sousMenu of menu.sousMenus">
              <a href="javascript:void(0);"
                 (click) ="navigate(sousMenu.url)"
                 style="color: inherit; text-decoration: none;">
                &nbsp;
                <i class="{{sousMenu.icon}}"></i>&nbsp;
                {{sousMenu.titre}}
              </a>
            </li>
          </ul>
      </div>
    </div>
  </div>
</div>
