<div class="row">
  <div class="row m-3">
    <div class="col-md-7 p-0">
      <h1>Liste des articles</h1>
    </div>
    <div class="col-md-5 text-end">
      <app-boutton-action></app-boutton-action>
    </div>
  </div>
  <div class="col m-3">
    <app-detail-article></app-detail-article>
    <app-detail-article></app-detail-article>
    <app-detail-article></app-detail-article>
    <app-detail-article></app-detail-article>
    <app-detail-article></app-detail-article>
    <!--- ensemble des composants contenant la liste des articles --->

  </div>
  <div class="row mb-3">
    <div class="col-md-12 text-center">
      <app-pagination></app-pagination>
    </div>
  </div>

</div>
